
#box {
    display: flex;
    width: 90%; 
    margin: 0 auto; 
}

#box div {
    
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    width: 100%;
}

#box .wstep {
    outline: #DDD4C9 solid 10px;
    background-color: hsl(60, 20%, 96%, 0.7);
    margin-right: 40px;

}

#box .spis {
    /* outline: hsl(97, 6%, 27%) solid 2px;
    background-color: hsl(99, 12%, 67%); */
    outline: #3b3124 solid 10px;
    background-color:hsl(34, 24%, 19%, 0.7);
}

#box div:hover{
    box-shadow: 10px 10px 35px #DDD4C9;
    cursor: pointer;
}

h2 {
    letter-spacing: 2px;
    font-size: 25px;
    font-weight: 800;
}

#box .wstep h2 {
    color: #3b3124;
}

#box .spis h2 {
    color: #DDD4C9;
}

#box p {
    font-size: 18px;
    color: #3b3124;
    font-weight: 550;
}

#box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


#box li{
    border-top: 3px solid #3b3124;
} 

#box li a {
    display: block;
    padding: 20px;
    font-size: 18px;
    text-decoration: none;
    color:#DDD4C9;
    font-weight: 550;
}
#box li a:hover {
    color: #F7F7F3;
}
html{
    scroll-behavior: smooth;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

section > div, section > fieldset{
    margin: 30px auto;
    background-color: hsl(60, 20%, 96%, 0.9);
    border-radius: 10px;
    width: 85%; 
    padding: 40px;
    text-align: center;
    outline: #DDD4C9 solid 10px;
    box-shadow: 10px 10px 20px #3b3124;
    color: #3b3124;
}

section > fieldset{
    margin-top: 150px;
}

textarea {
    width: 80%;
    margin-bottom: 20px;
    font-size: larger;
}

#button {
    background-color: #3b3124;
    color: #DDD4C9;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

#button:hover {
    background-color: #a9b6a2;
    transform: scale(1.05);
}

#dodane li {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    border-left: 5px solid #3b3124; 
    text-align: left;
    color: #3b3124;
    list-style: none;
    width: 85%;
    box-shadow: 2px 2px 10px hsl(34, 24%, 19%, 0.5);
    font-size: 18px;
    font-weight: 600;
}

.tresc {
    background: none !important;
    box-shadow: none !important;
    outline: none !important;
    width: 100% !important;
    display: flex !important;
    flex-direction: row;
    margin-top: 30px !important;
}

#c1 .tresc {
    display: flex !important;
    flex-direction: column !important; 
    align-items: center;               
                    
}


#c1 .tresc img {
    margin-bottom: 30px;                  
}

.tresc p {
    text-align: left;
    font-size: 20px;
    line-height: 1.5;
}

.tresc img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
} 

strong {
    font-weight: 800;
    letter-spacing: 2px;
}

.tresc img.swiecacy:hover{
    filter: brightness(1.5) drop-shadow(0 0 15px lime);
    cursor: pointer;
    transition: 0.3s;
}

.zrodlo a {
    color: #3b3124;
    font-size: 15px;
    font-weight: 400;
}

.zrodlo .powrot {
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 2px;
}
.zrodlo .powrot:hover {
    color: rgb(130, 105, 73) ;
}
.film {
    position: relative;
    padding-bottom: 50%;
}
.film iframe {
    position: absolute;
    top: 0; left: 0;
    width: 100%; 
    height: 100%;
    border-radius: 8px;
}

@media only screen and (max-width: 700px) {
    #box {
        flex-direction: column;
    }
    #box div:nth-child(1) {
        margin-bottom: 40px;
    }

    .tresc { 
        flex-direction: column; 
        text-align: center; 
    }
    .tresc p { 
        text-align: center; 
    }
    .tresc img { 
        width: 100%; 
        height: auto; 
    }
    
}