
#box {
    display: flex;
    width: 90%; 
    margin: 0 auto; 
}

#box div {
    
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    width: 100%;
}

#box .wstep {
    outline: #DDD4C9 solid 10px;
    background-color: hsl(60, 20%, 96%, 0.7);
    margin-right: 40px;

}

#box .spis {
    /* outline: hsl(97, 6%, 27%) solid 2px;
    background-color: hsl(99, 12%, 67%); */
    outline: #3b3124 solid 10px;
    background-color:hsl(34, 24%, 19%, 0.7);

}

#box div:hover{
    box-shadow: 10px 10px 35px #DDD4C9;
    cursor: pointer;
}

#box h2 {
    letter-spacing: 2px;
    font-size: 25px;
    font-weight: 800;
}

#box .wstep h2 {
    color: #3b3124;
}

#box .spis h2 {
    color: #DDD4C9;
}

#box p {
    font-size: 18px;
    color: #3b3124;
    font-weight: 550;
}

#box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


#box li{
    border-top: 3px solid #3b3124;
} 

#box li a {
    display: block;
    padding: 20px;
    font-size: 18px;
    text-decoration: none;
    color:#DDD4C9;
    font-weight: 550;
}

html{
    scroll-behavior: smooth;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

section > div, section > fieldset{
    margin: 50px auto;
    background-color: hsl(60, 20%, 96%, 0.9);
    border-radius: 10px;
    width: 85%; 
    padding: 40px;
    text-align: center;
    outline: #DDD4C9 solid 10px;
    box-shadow: 10px 10px 20px #3b3124;
}

/* 
section img {
    height: 250px;
    width: 375px;
    object-fit: cover;
    border-radius: 10px;
} */


textarea {
    width: 80%;
    border-radius: 10px;
    border: 1px solid #3b3124;
    font-family: inherit;
}

#button {
    background-color: #3b3124;
    color: #DDD4C9;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

#button:hover {
    background-color: #a9b6a2;
    transform: scale(1.05);
}

#dodane {
    margin-top: 30px;
    width: 100%;
}

#dodane li {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 15px auto;
    padding: 20px;
    border-radius: 10px;
    border-left: 5px solid #3b3124; 
    text-align: left;
    color: #3b3124;
    font-size: 15px;
    list-style: none;
    width: 80%;
    box-shadow: 2px 2px 10px hsl(34, 24%, 19%, 0.5);
}

.tresc {
    background: none !important;
    box-shadow: none !important;
    outline: none !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}


.tresc {
    display: flex !important;
    flex-direction: row !important;
    gap: 40px;
    margin-top: 30px !important;
}

.tresc p {
    text-align: left;
    font-size: 20px;
}

.tresc img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
}


@media only screen and (max-width: 700px) {
    #box {
        flex-direction: column;
    }
    #box div:nth-child(1) {
        margin-bottom: 40px;
    }
    
}