section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #3b3124;
        font-size:large;
        text-align: center;
        text-shadow: #F7F7F3;
        
    }
h2 {
    letter-spacing: 3px;
}

#box {
    background-color: hsl(60, 20%, 96%, 0.9);
    border-radius: 10px;
     outline: #a9b6a2 solid 10px; 
}

#box:hover {
    box-shadow: 10px 10px 15px #F7F7F3;
    transform: scale(1.05);
}
iframe {
    border-radius: 10px;   
    outline: #F7F7F3 solid 10px;  
}
#box {
    width: 80%;          
    margin: 40px auto;  
    padding: 30px;
    display: block;       
}

.mapa iframe {
    width: 600px;        
    height: 450px;
}
.oferty {
    color: red;
}
.wspolpraca {
    color: red;
    font-size: 30px;
}
@media screen and (max-width: 768px) {
    #box {
        width: 80%;      
        padding: 15px;
    }
    .mapa iframe {
        width: 100% !important; 
        height: 300px;        
    }
    nav {
        flex-direction: column;
    }
}