body
{
    font-size: 12px;
    font-family: sans-serif;
    background-color: #697960;
    
}

body,html{
    margin: 0;
    padding: 0;
    
}

h1{
    text-align: center;
    margin: 40px;
    font-size: 50px;
    color: #3b3124;
    text-shadow: 2px 2px 4px #aca499;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:900;
}

nav{
    text-align: center;
    width: 100%;
    height: 50px;
    margin: 27px auto;
    background-color: #a9b6a2;
    border-radius: 8px;
}


nav a {
    line-height: 50px;
    height: 100%;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #F7F7F3;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
    border-left: 1px solid #F7F7F3;
    padding-left: 30px;

}

nav a:hover {
    color:brown;
}

nav a:nth-child(1) {
    border-left: none;
}


@media only screen and (max-width: 900px) {

    nav {
        padding: 0;
        text-align: left;
        width:max-content;
    }
    nav a{
        padding: 0;
        margin: 0;
    }

} 


footer{
    background-color: hsl(60, 20%, 96%, 0.5);
    width: 100%;
    height: 50px;
    padding-top: 25px;
    padding-left: 20px;
    margin-top: 100px;
    color: #3b3124;
}
