/* xxxxxxxxddddddddd */

body
{
    font-size: 12px;
    font-family: sans-serif;
    background-color: #697960;

    
}

body,html{
    margin: 0;
    padding: 0;
    
}

h1{
    text-align: center;
    margin: 40px;
    font-size: 80px;
    color: #3b3124;
    text-shadow: 3px 3px 6px #DDD4C9;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    letter-spacing: 15px;
}

h1:hover{
    transform: scale(1.05);
    cursor: pointer;
}

nav{
    text-align: center;
    width: 1100px;
    height: 50px;
    margin: 27px auto;
    background-color: #a9b6a2;
    border-radius: 10px;
}


nav a {
    line-height: 50px;
    height: 100%;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #F7F7F3;
    margin-left: 20px;
    margin-right: 20px;
    border-left: 1px solid #F7F7F3;
    padding-left: 30px;
    cursor: pointer;

}

nav a:hover {
    color:brown;
}

nav a:nth-child(1) {
    border-left: none;
}


@media only screen and (max-width: 1100px) {

    nav {
        padding: 0;
        text-align: left;
        width:max-content;
    }
    nav a{
        font-size: 20px;
        padding-left: 2px;
        margin: 0 5px;
    }

} 

@media only screen and (max-width: 600px) {

    h1{
        font-size: 40px; 
        letter-spacing: 5px;   
    }
    nav a{
        font-size: 15px;
        padding-left: 1px;
        margin: 0 3px;
    }

} 


footer{
    background-color: hsl(60, 20%, 96%, 0.5);
    width: 100%;
    height: 50px;
    padding-top: 25px;
    padding-left: 20px;
    margin-top: 50px;
    color: #3b3124;
}
